.footer {
    display: flex;
    height: 87px;
    margin-top: 79px;
    background-color: rgba(106, 106, 106, 1);

    &__content {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: center;
    }

    &__copyright {
        font-size: 11px;
        color:#F5F5F5;
    }
}